<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Individuals</strong> Client Information
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal row">
            <div class="col-6">
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label">Surname</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Full Names</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="select">Title</label>
                <div class="col-md-7">
                  <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Mr</option>
                    <option value="2">Mrs</option>
                    <option value="3">Ms</option>
                  </select>
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label">Identity Number</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Passport Number</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Expiry date of Passport</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control" placeholder="DD/MM/YYYY">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="select">Status</label>
                <div class="col-md-7">
                  <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                    <option value="3">Potential</option>
                    <option value="3">Deceased</option>
                  </select>
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="select">Relationship Status</label>
                <div class="col-md-7">
                  <select id="select" name="select" class="form-control">
                    <option value="0">Please select</option>
                    <option value="1">Divorced</option>
                    <option value="2">Domestic</option>
                    <option value="3">Patnership</option>
                    <option value="4">Married ANC with accural</option>
                    <option value="5">Married ANC without accural</option>
                    <option value="6">Married ICOP</option>
                    <option value="7">Neverbeen Married</option>
                    <option value="8">Relegious Marriage</option>
                  </select>
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Mobile Number</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Landline (Home)</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Landline (work)</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="textarea-input">Physical Address</label>
                <div class="col-md-7">
                  <textarea id="textarea-input" name="textarea-input" rows="5" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">No and Complex Name</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>

              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label">Street Name</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Suburb</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Town</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Country</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="text-input">Postal Code</label>
                <div class="col-md-7">
                  <input type="text" id="text-input" name="text-input" class="form-control">
                </div>
              </div>
              <div class="form-group row col-12">
                <label class="col-md-5 col-form-label" for="email-input">Email</label>
                <div class="col-md-7">
                  <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger">
            <i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
