<!-- <div class="myTable " style="padding:5px">
  <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div> -->
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0 elipsis " style="text-align:center">
          <h5 class="mb-0 ">Associations</h5>
        </div>
        <div class="fa fa-building px-3 fa-4x tiles">

        </div>
        <div class="row detailsSection justify-content-between" [routerLink]="['/clients']">
          <div>
            <p>Details</p>
          </div>
          <div>
            <i class="fa fa-arrow-circle-right col-2"></i>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2">
      <div class="card text-white bg-info">
        <div class="card-body pb-0 elipsis" style="text-align:center">
          <h5 class="mb-0 ">Curatorships</h5>
        </div>
        <div class=" fa fa-archive fa-4x px-3 tiles">
        </div>
        <div class="row detailsSection justify-content-between">
          <div>
            <p>Details</p>
          </div>
          <div>
            <i class="fa fa-arrow-circle-right col-2"></i>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0 elipsis" style="text-align:center">
          <h5 class="mb-0">Deceased Estates</h5>
        </div>
        <div class="fa icon-puzzle fa-4x px-3 tiles">
        </div>
        <div class="row detailsSection justify-content-between">
          <div>
            <p>Details</p>
          </div>
          <div>
            <i class="fa fa-arrow-circle-right col-2"></i>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 ">
      <div class="card text-white bg-danger ">
        <div class="card-body pb-0 elipsis" style="text-align:center">
          <h5 class="mb-0 ">Individuals</h5>
        </div>
        <div class="fa fa-user-circle-o fa-4x px-3 tiles">
        </div>
        <div class="row detailsSection justify-content-between">
          <div>
            <p>Details</p>
          </div>
          <div>
            <i class="fa fa-arrow-circle-right col-2"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 ">
      <div class="card text-white bg-danger ">
        <div class="card-body pb-0 elipsis " style="text-align:center">
          <h5 class="mb-0 ">Leagal Entities</h5>
        </div>
        <div class="fa fa-pencil-square-o fa-4x px-3 tiles">
        </div>
        <div class="row detailsSection justify-content-between">
          <div>
            <p>Details</p>
          </div>
          <div>
            <i class="fa fa-arrow-circle-right col-2"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 ">
      <div class="card text-white bg-danger ">
        <div class="card-body pb-0 elipsis" style="text-align:center">
          <h5 class="mb-0 ">Trusts</h5>
        </div>
        <div class="fa fa-university fa-4x px-3 tiles">
        </div>
        <div class="row detailsSection justify-content-between">
          <div>
            <p>Details</p>
          </div>
          <div>
            <i class="fa fa-arrow-circle-right col-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
