<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Deceased Estates - </strong> Report an estate to the Master of the High Court
    </div>
    <div class="card-body" style="padding:6px;padding-top: 20px;">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-primary p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Acceptance of trust as executor - J190 (above R250k)</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-info p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1"> Application for Certified Copies - JM46</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-warning p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Death Notice - J294</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-danger p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Declaration of subsisting marriages</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-primary p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Inventory - J243</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-info p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Letter of nomination to appoint an executor (intestate)</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-warning p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Next-of-kin affidavit - J192</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-danger p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Reporting affidavit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <strong>Trusts - </strong>Register a trust with the Master of the High Court
    </div>
    <div class="card-body" style="padding:6px;padding-top: 20px;">
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-primary p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Acceptance by auditor or accountant – J405</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-info p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Acceptance of trusteeship by trustee – J417</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-warning p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Application for Certified Copies - JM46</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-danger p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Beneficiaries declaration form – J450</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-primary p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Sworn affidavit by independent trustee</div>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-download bg-info p-4 font-2xl mr-1 float-left"></i>
              <div class="h6 text-primary pt-1">Trust registration and amendment form – J401</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>